:root{
    --navbar-height: 8.75rem; 
    --main-color: white;
    --seconary-color: #b5b3a1;
    --third-color:#f0f0ec;
    --fourth-color: #ababab;   




   
}
body{
    font-family: 'Lora', serif;
 
}







#hamburger{
    display: none;
}

.hamburger-container{
    position: fixed;
    right: 1.25rem;
    top: 1.875rem;
    padding: 1.25rem ;
    background-color: var(--seconary-color);
    z-index: 99999;
    display: none;
    border-radius: 0.25rem;
}

.hamburger-icons,
.hamburger-icons::before,
.hamburger-icons::after
{
    content: "";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background-color: whitesmoke;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

.hamburger-icons::before{
    transform: translate(-50%,-6px);    
}

.hamburger-icons::after{
    transform: translate(-50%,6px);
}

#hamburger:checked + label .hamburger-icons{
    background: transparent;
}

#hamburger:checked + label .hamburger-icons::before{
    transform: translateX(-50%) rotate(45deg); 
}

#hamburger:checked + label .hamburger-icons::after{
    transform: translateX(-50%) rotate(-45deg);
}

#hamburger:checked ~ .hamburger-overlay::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

#hamburger:checked ~ .hamburger-overlay{
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.125rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 3.125rem;
    z-index: 999;
}

#hamburger:checked ~ .hamburger-overlay > ul{
    flex-direction: column;
    text-align: center;
}

#hamburger:checked ~ .hamburger-overlay > ul > li > a{
    font-size: 1.75rem;
    padding: 0.125rem 0.75rem;
    transition: all .3s;
}

#hamburger:checked ~ .hamburger-overlay > ul > li > a:hover{
    
}

#hamburger:checked ~ .hamburger-overlay > ul .dropdown-content{
    left: 140%;
    top: 0%;
}

#hamburger:checked ~ .hamburger-overlay > *:not(:first-child){
    display: flex;
}


















nav{
    height: var(--navbar-height);
    color: rgb(10, 9, 9);
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    padding: 0.125rem 0.75rem;
    
}
ul li .btn{
    font-size: 1.25rem;
    padding: 0.125rem 0.75rem;
    background-color: #b5b3a1;
    border-radius: 0.7rem;
    border: 0.188rem solid var(--seconary-color);
}

#logo{
    
    text-align: center;
    justify-content: center;
    padding: 0.313rem 0.625rem;
    border: solid 0.125rem black;
    border-radius: 0.188rem;
    background: linear-gradient(90deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 100%), url(../img/bildnavh1.webp);
    background-size: cover;
    background-position: center;
    text-shadow: 0.125rem 0.375rem 0.625rem rgb(255, 255, 255);

    

}

#logo:hover{
    border: solid 0.125rem var(--seconary-color);
    border-radius: 0.188rem;
    background-image: none;
    background-color: var(--seconary-color);
    transition: .3s;
}
h1 .logo{
    font-size: 3.125rem;
}


.nav-list{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 0.625rem; 
    font-size: 1.25rem;
    font-weight: 100;  
     
}


nav li a{
    padding: 0.125rem 0.75rem;
    border: 3px solid var(--main-color); 
    border-radius: 0.7rem;
}
nav li :hover{
    border: 0.188rem solid var(--seconary-color);
    border-radius: 0.7rem;
    transition: .5s;
    
}

ul li .btn:hover{
    background-color: var(--main-color);
    border: 0.188rem solid var(--seconary-color);
    transition: .3s;
    
}
main{
    font-family: 'Lora', serif;

}

.hero{
width: 100%;

background-color: var(--main-color);
}

.heroinfo{
    position: relative;
}

.heroimg{
background-size: cover;
background-position: center;
background-image:  url(../img/heroimgorginal.jpeg);
width: 100%;
height: 30rem;
 
    
}

.infotext{
    width: 50%;
    margin: 3.125rem 3.125rem 6.25rem;    
}

.infotext h1{
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    font-weight: lighter;

}

.infotext h2{
    font-size: 0.938rem;
    font-weight: normal;
    line-height: 1.875rem;
    word-spacing: 0.094rem;
}

.infoboka{
    position: absolute;
    right: 7rem;
    top: -6rem;
    width: 25rem;
    background-color: var(--main-color);
    border-radius: 0.313rem;
    box-shadow: 0rem 0rem 1.25rem 0rem rgba(136,133,133,0.68);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.infoboka > div{
    flex: 1 1 40%;
    border: solid 0.125rem var(--seconary-color);
    border-radius: 0.313rem;
    text-align: center;
    font-size: 0.5rem;
    padding: 0.625rem;
    
}
.infoboka > a{
    flex: 1 1 90%;
    text-align: center;
}

.infoboka > div, .infoboka a:first-of-type{
    margin: 0.5rem;
}

.infoboka a:first-of-type{
    background-color: var(--seconary-color);
    border-radius: 0.313rem;
    padding: 0.75rem;
    margin-top: 0;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;       

    
}

.infoboka a:first-of-type:hover{
    background-color: var(--third-color);
    transition: .3s;
    color: #757469;
    
}



input[type=date]{
    width: 6.25rem;
    height: 1.875rem;
    font-size: 0.75rem;
    position: relative;
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]:after {
    content: "\25BC"; 
    color: #555;
    margin-right: 0.125rem;
}



input[type="date"]:hover:after {
    color: #bf1400;
    transition: .3s;
}


input[type="date"]:hover{
    color: #bf1400;
    transition: .3s;
}


.infoboka a:last-child{
    background-color:  var(--third-color);
    padding: 0.75rem;
    color: #757469;
    text-transform: uppercase;
    font-size: 1rem; 
    font-weight: 400;  

}

.infoboka a:last-child:hover{
    background-color: var(--seconary-color);
    transition: .3s;
    color: var(--third-color);

}

.paketerbjudande{
    background-color: rgb(244, 244, 244);
    padding: 5rem;
}

.gridcontainer{
    display: grid;
    max-width: 75rem;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 15rem;
    gap: 1rem 3rem ;
    grid-template-areas: 
           "a b c"
           "d e f";
    

}
.gridcontainer > div:nth-child(1){
    grid-area: a;
    background-image: url(../img/litenplanbokanpassad.webp);
    
}

.gridcontainer > div:nth-child(2){
    grid-area: b;
    background-image: url(../img/65plusanpassad.jpeg);
    
    
}

.gridcontainer > div:nth-child(3){
    grid-area: c;
    background-image: url(../img/spalovanpassad.jpeg);
    color: #f2f2e5;
    
}
.gridcontainer > div:nth-child(4){
    grid-area: d;
    
    
}
.gridcontainer > div:nth-child(5){
    grid-area: e;
    
    
}
.gridcontainer > div:nth-child(6){
    grid-area: f;
    
    
}



.gridcontainer > div{
    background-size: cover;
    background-position: center;
    position: relative;
}
.gridcontainer p{
    position: absolute;
    background-color: var(--seconary-color);
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    top: -1.5rem;
    left: -1.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

.texterbjudande{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridcontainer > div h1{
    color: #757469;
    text-transform: uppercase;
    word-spacing: 0.094rem;
    font-size: 1.5rem;
}
.gridcontainer > div h2{
    font-size: 1rem;
    margin: 1rem 0;
    height: 5rem;
}
.texterbjudande{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridcontainer > div a{
    border: 0.125rem solid #757469;
    display: block;
    padding: 0.7rem 1.2rem;
    width: 6rem;
    text-align: center;
    color: #757469;
}
.gridcontainer > div a:hover {
    color: #f2f2e5;
    background-color: #757469;
    transition: .3s;

}
.gridcontainer > div:nth-child(1) p, .gridcontainer > div:nth-child(2) p{
    background-color: #f2f2e5;
    color: #757469;

}

.footer{
    background-color: #363636;
    
}

.footersocial{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/footer-img.png);
    background-size: cover;
    background-position: center;
    min-height: 20rem;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    padding: 5rem;
    justify-content: space-between;
   
}
.logofooter{
    text-align: center;
    justify-content: center;
    padding: 0.313rem 0.625rem;
    border: solid 0.125rem black;
    border-radius: 0.188rem;
    background: linear-gradient(90deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 100%), ;
    background-size: cover;
    background-position: center;
    height: 7rem;
    width: 10rem;
   

}
.sociala-medier{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    gap: 1.5rem;
    
}

.footerinfo{
    flex-direction: row;
    display: flex;
    padding: 4rem;
    gap: 1.5rem;
    color: var(--fourth-color);
}
.footerinfo h1{
    text-transform: uppercase;
    color: var(--third-color);
}

.footerinfo h2{
    text-transform: uppercase;
    color: var(--third-color);
}

.flex{
    display: flex;
    
    
}
.flex > div{
    flex: auto;
}

.kontakt{
    
    flex: 2;
    flex-direction: column;

}

.linje{
    background-color: var(--fourth-color);
    width: 100%;
    height: 0.063rem;
    border-radius: 0.063rem;
}


.kontakter{
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.post{
    padding: 2rem 0;

}





.menyer{
    
    flex: 1; 
}


.meny{
    padding: 2rem 0;
}

.meny a{
    display: inline-block;
}
   
.meny a:hover{
    color: var(--third-color);
    transition: .2s;
    
}

.active{
   
    padding: 0.125rem 0.75rem;
    border-radius: 0.7rem;
    border: 0.188rem solid var(--seconary-color);
    
   
}


@media screen and (max-width: 69.375rem){
    .infoboka{
        position: absolute;
        right: 1rem;
        top: -6rem;
        width: 25rem;
        background-color: var(--main-color);
        border-radius: 0.313rem;
        box-shadow: 0rem 0rem 1.25rem 0rem rgba(136,133,133,0.68);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

  
   

}

@media screen and (max-width: 63.125rem){
    
    .infoboka{
        position: absolute;
        right: 1rem;
        top: -14rem;
        width: 25rem;
        background-color: var(--main-color);
        border-radius: 0.313rem;
        box-shadow: 0rem 0rem 1.25rem 0rem rgba(136,133,133,0.68);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
    .infotext{
        width: 85%;
        margin: 3.125rem 3.125rem 6.25rem;
        
    }

    .infotext h1{
        margin-bottom: 1.25rem;
        font-size: 1.875rem;
        font-weight: lighter;
        margin-top: 16rem;

    }

    .hamburger-container{
        display: block;
    }
    .hamburger-overlay >*:not(:first-child){
        display: none;
    }


}

@media screen and (max-width: 61.875rem){
    .gridcontainer{
        display: grid;
        max-width: 75rem;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15rem;
        gap: 1rem 3rem ;
        grid-template-areas:
               "a b"
               "d e"
               "c c"
               "f f";
        
    
    }
   
    .texterbjudande{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .gridcontainer > div:last-child h2 {
        height: initial
    }
    

}

@media screen and (max-width: 44.688rem){
    .gridcontainer{
        display: grid;
        max-width: 75rem;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15rem;
        gap: 1rem 3rem ;
        grid-template-areas:
               "a a"
               "d d"
               "b b"
               "e e"
               "c c"
               "f f";
    
    }
    
    .gridcontainer > div h2 {
        height: initial
    }

}
@media screen and (max-width: 37.5rem){
    .flex{
        display: flex;
        flex-direction: column;
        
        
    }
}

.footersocial{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/footer-img.png);
    background-size: cover;
    background-position: center;
    min-height: 20rem;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    justify-content: space-between;
    gap: 2rem;
  
    

}



